<ion-navbar *navbar primary-color>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Oportunidades Próximas</ion-title>
</ion-navbar>

<ion-content padding class="detalhes-mensagem">
  <ion-card *ngFor="#job of jobs; #index = index" [ngClass]="{'slide-in-both-ways': index == 0, 'hidden': index > 0}">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="current_job.obj.creator_photo">
      </ion-avatar>
      <h3>{{current_job.obj.title}}</h3>
      <p>Criado por {{current_job.obj.creator_name}} em {{current_job.obj.date | toDate }}</p>
    </ion-item>

    <ion-card-content>
    <p>{{current_job.obj.description}}</p>
    <ion-item>
      <ion-badge item-right>{{current_job.dis / 1000 | number: '1.0-0'}}Km</ion-badge>
    </ion-item>
    </ion-card-content>

    <ion-item>
      <button success clear item-left (click)="acceptJob()">
        <ion-icon name="thumbs-up"></ion-icon>
        <div>Aceitar</div>
      </button>
      <button danger clear item-right (click)="refuseJob()">
        <ion-icon name="thumbs-down"></ion-icon>
        <div>Recusar</div>
      </button>
    </ion-item>

  </ion-card>

  <ion-card *ngIf="jobs.length == 0 && !loading">
    <ion-card-header>
      Nenhum serviço disponível
    </ion-card-header>
    <ion-card-content>
      No momento não existe nenhum serviço disponível para o seu perfil perto de você. Você pode tentar atualizar ou voltar mais tarde.
    </ion-card-content>
    <ion-item>
      <button primary block clear item-center (click)="loadJobs()">
        <ion-icon name="refresh"></ion-icon>
        <div>Atualizar</div>
      </button>
    </ion-item>
  </ion-card>

</ion-content>
