<ion-navbar *navbar primary-color>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Criar Novo Serviço</ion-title>
</ion-navbar>

<ion-content>
  <ion-card>
    <ion-card-header>
      Tipo de Serviço
    </ion-card-header>
    <ion-card-content>
      {{job_type.name}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Detalhes do Serviço
    </ion-card-header>
    <ion-item>
      <ion-label floating>Título do Serviço</ion-label>
      <ion-input type="text" [(ngModel)]="job.title" class="border-bottom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-textarea  [(ngModel)]="job.description" class="border-bottom"></ion-textarea>
    </ion-item>

    <ion-row padding>
      <ion-col width-50>
        <button danger block (click)="back()">
          <ion-icon name="arrow-back"></ion-icon> Voltar
        </button>
      </ion-col>
      <ion-col width-50>
        <button accent-color block (click)="createService()">
          <ion-icon name="create"></ion-icon> Criar Serviço
        </button>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>
