<ion-menu [content]="content">

  <ion-content primary-color-dark>
    <div style="background-color: #CFD8DC;" class="primary-color-dark">
      <ion-row>
        <ion-col width-30>
          <img [src]="user? user.photo_url : ''">
        </ion-col>
        <ion-col width-70>
          <ion-row>
            <ion-col width-70>
              <h5>{{user? user.name : ""}}</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-70>
              <small>{{user? user.email: ""}}</small>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="#p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
      <button menuClose ion-item danger (click)="logout()">
        <ion-icon name="log-out" item-left></ion-icon>
        Sair
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>
<loading-modal id="loading"></loading-modal>
