<ion-navbar *navbar primary-color>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Tipo de Serviço</ion-title>
</ion-navbar>


<ion-content>
  <ion-card>
    <ion-card-header>
      Tipo de trabalho
    </ion-card-header>
  <ion-card-content>
        <ion-input [(ngModel)]="name" class="border-bottom"></ion-input>
  </ion-card-content>
</ion-card>
  <ion-list>

    <ion-item-divider light>Especialidades disponíveis</ion-item-divider>
    <ion-item *ngFor="#cnae of cnaes | filter: name" text-wrap (click)="openJobCreatePage(cnae)">
      {{cnae.name}}
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
