<ion-navbar *navbar primary-color>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Perfil de {{user.name}}</ion-title>
</ion-navbar>
<ion-content>
  <ion-segment [(ngModel)]="section">
  <ion-segment-button value="profile">
    Perfil
  </ion-segment-button>
  <ion-segment-button value="competences">
    Competências
  </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="section">
    <ion-card *ngSwitchWhen="'profile'">
      <ion-card-header>
        Informações pessoais
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail item-left>
              <img [src]="user.photo_url">
            </ion-thumbnail>
            <h2>{{user.name}}</h2>
            <p>{{user.email}}</p>
            <p>{{user._id}}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card *ngSwitchWhen="'profile'">
      <ion-card-header>
        Sobre {{user.name}}
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Escreva sobre você</ion-label>
          <ion-textarea type="text" [(ngModel)]="user.bio"></ion-textarea>
        </ion-item>
        <ion-item>
          <button primary block (click)="updateUser()">
            <ion-icon name="create"></ion-icon> Salvar Biografia
          </button>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card *ngSwitchWhen="'competences'">
      <ion-card-header>
        Atividades do MEI
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="#competence of user.competences">
            <h2>{{competence.codigo}}</h2>
            <p>{{competence.atividade}}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
