@import '../../theme/app.variables';

.hidden{
  display: none;
}

.accent-color{
  background-color: map-get($colors, accent-color);
}

.slide {
    background-color: map-get($colors, primary-color);
}

.slides-toolbar{
    background-color: map-get($colors, primary-color-dark);
}
