<ion-content class="home">
  <ion-slides id="slider" class="slides" loop="true" autoplay="false" [options]="{nextButton: '.next-slide', prevButton: '#previous-slide'}" (change)="onChange($event)">
    <ion-slide class="slide">
      <h2 primary-color-light>Bem vindo ao MeuMEI</h2>
      <p light>Um aplicativo criado com o apoio do Ministério da Ciência, Tecnologia, Inovações e Comunicações através do InovApps 2015</p>
      <br/><br/><br/>
      <button ion-button accent-color full class="next-slide">Avançar <ion-icon name="arrow-forward"></ion-icon></button>
    </ion-slide>
    <ion-slide class="slide">
      <h2 primary-color-light>O que você procura?</h2>
      <p light>
        No Meu MEI, você pode prestar serviços ou procurar profissionais autônomos devidamente registrados.
      </p>
      <p primary-color-light> Qual é o seu perfil?</p>
      <br>
      <button full primary-color-dark id="next-slide" [ngClass]="{'accent-color': isMei}" (click)="isMei=true;" class="next-slide">Eu sou um MEI</button>
      <br>
      <button full primary-color-dark id="next-slide" [ngClass]="{'accent-color': !isMei}" (click)="isMei=false;" class="next-slide">Eu procuro um MEI</button>
    </ion-slide>
    <ion-slide class="slide">
      <h2 light>Só falta sabermos mais sobre você</h2>
      <br>
      <p light>
        Vamos importar para seu perfil somente as informações mais importantes: sue nome, sua foto de perfil e seu e-mail.
      </p>
      <br><br><br>
      <button accent-color (click)="login()"><ion-icon name="contact"></ion-icon> Conectar</button>
    </ion-slide>
  </ion-slides>
</ion-content>
