<ion-navbar *navbar hideBackButton primary-color>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Painel MeuMEI</ion-title>
</ion-navbar>

<ion-content padding class="getting-started">

  <ion-card *ngIf="user && user.isMei && !user.isValidated">
    <ion-card-header>
      Confirmação de MEI
    </ion-card-header>
    <ion-card-content>
      Por favor, preencha as informações abaixo para validar seu registro MEI:
    </ion-card-content>
    <ion-list inset>
      <ion-item-divider light>
        Nascimento
      </ion-item-divider>
      <ion-item>
        <ion-input type="number" [(ngModel)]="day"></ion-input>
        <ion-note item-right>/</ion-note>
        <ion-input type="number" [(ngModel)]="month"></ion-input>
        <ion-note item-right>/</ion-note>
        <ion-input type="number" [(ngModel)]="year"></ion-input>
      </ion-item>
      <ion-item-divider light>
        CPF
      </ion-item-divider>
      <ion-item>
        <ion-input type="number" [(ngModel)]="cpf"></ion-input>
      </ion-item>
        <ion-item-divider light>
          Digite o texto abaixo
        </ion-item-divider>
        <ion-item>
        <ion-input type="text" [(ngModel)]="captchaAnswer"></ion-input>
      </ion-item>
      <img src="data:image/png;base64,{{captcha.image}}">
    </ion-list>
  </ion-card>

  <ion-card *ngIf="user && user.isMei && !user.isValidated">
    <ion-card-content>
      <button primary block item-right (click)="validateMei()">
        <ion-icon name="checkmark"></ion-icon>Validar MEI
      </button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="user && user.isMei && !user.isValidated">
    <ion-card-content>
      <button primary-color block (click)="loadCaptcha()" item-left>
        <ion-icon name="refresh"></ion-icon> Recarregar Imagem
      </button>
    </ion-card-content>
  </ion-card>

</ion-content>
