<ion-navbar *navbar primary-color>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Avaliação de {{mei.name}}</ion-title>
</ion-navbar>

<ion-content>
  <ion-card>
    <ion-card-header>
      Sobre {{mei.name}}
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail item-left>
            <img [src]="mei.photo_url">
          </ion-thumbnail>
          <h2>{{mei.name}}</h2>
          <p>{{mei.email}}</p>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          Serviço Realizado
        </ion-list-header>
        <ion-item>
          <h2>{{job.name}}</h2>
          <p>{{job.description}}</p>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          Sua Avaliação
        </ion-list-header>
        <ion-item (click)="updateFeedback(true)" no-lines>
          <ion-icon secondary name="thumbs-up" item-left></ion-icon>
            <h2 secondary>Gostei</h2>
          <ion-icon name="checkmark" item-right [ngClass]="{hidden: job.rating < 1}"></ion-icon>
        </ion-item>
        <ion-item no-lines danger (click)="updateFeedback(false)">
          <ion-icon danger name="thumbs-up" item-left></ion-icon>
            <h2 danger>Não gostei</h2>
          <ion-icon name="checkmark" item-right [ngClass]="{hidden: job.rating != 0}"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
